<div class="container">
    <div class="form-container">
        <form [formGroup]="addUserForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>First Name
                </mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="addUserForm.controls.firstName.touched && addUserForm.controls.firstName.invalid">
                    <span *ngIf="addUserForm.controls.firstName.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.firstName.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Second Name
                </mat-label>
                <input matInput formControlName="secondName">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Last Name
                </mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="addUserForm.controls.lastName.touched && addUserForm.controls.lastName.invalid">
                    <span *ngIf="addUserForm.controls.lastName.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.lastName.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Identity Number
                </mat-label>
                <input matInput formControlName="identityNumber" type="number" required>
                <mat-error
                    *ngIf="addUserForm.controls.identityNumber.touched && addUserForm.controls.identityNumber.invalid">
                    <span *ngIf="addUserForm.controls.identityNumber.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.identityNumber.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Identity Document
                </mat-label>
                <input matInput formControlName="identityDocument" type="number" required>
                <mat-error
                    *ngIf="addUserForm.controls.identityDocument.touched && addUserForm.controls.identityDocument.invalid">
                    <span *ngIf="addUserForm.controls.identityDocument.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.identityDocument.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> E-mail
                </mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="addUserForm.controls.email.touched && addUserForm.controls.email.invalid">
                    <span *ngIf="addUserForm.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.email.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Second Email
                </mat-label>
                <input matInput formControlName="secondEmail" required>
                <mat-error *ngIf="addUserForm.controls.secondEmail.touched && addUserForm.controls.secondEmail.invalid">
                    <span *ngIf="addUserForm.controls.secondEmail.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.secondEmail.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> User Name
                </mat-label>
                <input matInput formControlName="userName" required>
                <mat-error *ngIf="addUserForm.controls.userName.touched && addUserForm.controls.userName.invalid">
                    <span *ngIf="addUserForm.controls.userName.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.userName.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Password
                </mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="addUserForm.controls.password.touched && addUserForm.controls.password.invalid">
                    <span *ngIf="addUserForm.controls.password.errors.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Age
                </mat-label>
                <input matInput formControlName="age" type="number" required>
                <mat-error *ngIf="addUserForm.controls.age.touched && addUserForm.controls.age.invalid">
                    <span *ngIf="addUserForm.controls.age.errors.required">This field is mandatory.</span>
                    <span *ngIf="addUserForm.controls.age.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>